<div>
    <div class="imageClass">
    <img src="../../assets//images/message.png" width="100px" height="100px" id="img1"/>
    
    <img src="../../assets//images/order.png" width="100px" height="100px"/>
    <img src="../../assets/images/quoteRequest.jpg" width="100px" height="100px"/>
    
    <img src="../../assets/images/serviceplacerequest.jpg" width="100px" height="100px"/>
   
    </div>
    <span>Number Of Messages {{numberOfMsg}}</span>
    <span>Number Of Orders {{numberOfOrders}}</span>
    <span>Number of Quotes {{numberOfQuote}}</span>
    <span>Number of Services provide {{numberOfService}}</span>
</div>