  <!-- MAIN IMG -->
  <div>
    <div id="mainPanel">
      <div class="priceClass">
      <div class="price">
          <span>$129/hr</span>
          <img src="../../assets//images/2movers.jpg" height="150px" width="280px"/>
          <span class="innerData">
         
          </span>
      </div>
      <div class="price">
          <span>$179/hr</span>
          <img src="../../assets//images/3movers.jpg" height="150px" width="280px"/>
          <span class="innerData">
         
          </span>
      </div>
      <div class="price">
        <span>$229/hr</span>
        <img src="../../assets//images/4movers.jpg" height="150px"width="280px"/>
        <span class="innerData">
         
        </span>
      </div>
      <div class="price">
          <span>Call Us</span>
          <img src="../../assets//images/need.jpg" height="150px"width="280px"/>
          <span class="innerData">
            080-345672346
          </span>
      </div>
      </div>
    </div>
  <div id="bottomContainer">
    <!-- FOOTER -->
    <div id="footer">
      <p><a href="#">HOME</a> | <a href="#">ABOUT US</a> | <a href="#">SERVICES</a> | <a href="#">PRICES</a> | <a href="#">NEWS</a> | <a href="#">SUPPORT</a> | <a href="#">CONTACTS</a><br/>
        Copyright &copy; Your Company Name. Designed by<a href="http://www.templatesland.com"> TemplatesLand.com</a>.</p>
    </div>
  </div>
  
  </div>