a{
    text-decoration: none;
}
li{
    border: solid orange 0px;
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
    background-color: cyan;
    font-size: 15pt;
    width: 200px;
}
img{
    padding: 5px;
    margin-left: 40px;
    margin-top: 10px;
    border-radius: 20px;
}